.countryDetailBody{
    font-family: sans-serif;
    padding-left: 567px;
    padding-top: 9%;
    padding-bottom: 300px;
    background-image:url('https://img.freepik.com/foto-gratis/mapa-mundo-acuarela-blanco-negro_125540-1563.jpg?w=2000');
    height: 100vh;
    position:relative; 
    display:block;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight:bolder;
    color: aliceblue;
    overflow-y: auto;
}


.countryDetailDiv{
    padding: 8px;
    text-align:center;
    flex-direction: column;
    background-color:rgba(5, 2, 85, 0.449);;
    width: 50%;
    height:500px;
    border-radius: 10px;
}


.crountryDetailHeader{
    background-color: rgb(5, 2, 85);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.countryDetailUl{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 40px;
    list-style: none;
    line-height: 30px;
}

.countryDetailIMG{
    width:240px;
    height:160px;
}

.countryDetailButtom{
    width: 100px;
    height: 30px;
    background-color:rgb(5, 2, 85);
    color: rgb(255, 255, 255);;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-top: 10px;
}
.countryDetailButtom:hover{
    background:rgb(255, 255, 255);
    color: rgb(5, 2, 85);
}
.countryDetailActivityUl{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 15px 0px;
    width: 51%;
    padding-top: 0px;
    list-style-type: none 
  
}
.countryDetailActivityLi{
    display: inline;
    padding-left: 0px;
    float: left;
    padding-bottom: 2px;
    width:50%;
    padding-top: 2px;
}
