.createActivityBody{
    padding-left: 553px;
    padding-top: 9%;
    padding-bottom: 300px;
    background-image:url('https://img.freepik.com/foto-gratis/mapa-mundo-acuarela-blanco-negro_125540-1563.jpg?w=2000');
    height: 100vh;
    position:relative;  
    display:block;
    text-align: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight:bolder;
    color: aliceblue;
    overflow-y: auto;
    flex-direction: column;

}

.createActivityHeader{
    background-color: rgb(5, 2, 85);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.createActivityForm{
    padding: 8px;
    flex-direction: column;
    background-color:rgba(5, 2, 85, 0.449);;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.createActivityCountryUl{
  width: 100%;

}
.createActivityCountryLi{
    margin-left: -215px;
    padding-right: 500px;
    display:flex;
    padding-left: 2px;
    float: left;
    padding-bottom: 2px;
    width: 25%;
    padding-top: 20px;
}


.createActivityButtom{
    width: 100px;
    height: 30px;
    background-color:rgb(5, 2, 85);
    color: rgb(255, 255, 255);;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}
.createActivityRemove{
    width: 100px;
    height: 25px;
    background-color:rgb(201, 0, 0);
    color: rgb(255, 255, 255);;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: 5px;
}
.createActivityButtom:hover{
    background:rgb(255, 255, 255);
    color: rgb(5, 2, 85);
}