.lista{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 4px ;
    height: 35px;
    margin-top: 2%;
    margin-right: 13%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color:rgba(5, 2, 85, 0.52); ;
}

.elementoLista{
    padding: 5px;
}

.botonLista{
    width: 35px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;

}
.botonLista:hover{
    background-color: rgba(250, 233, 0, 0.587);
    color:rgb(0, 44, 83)
}
